<template name="listKecTikung">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Kecamatan Tikung</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <div class="item item-divider item-dark">
            Luas Lahan
        </div>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics"></i>
            Luas Lahan Sawah
            <span class="item-note">
                3.713 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Non Sawah
            <span class="item-note">
                1.058 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Bukan Pertanian
            <span class="item-note">
                527 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Total Luas Lahan
            <span class="item-note">
                5.298 Ha
            </span>
        </a>
        
        <!--SEPARATEEEEEEE-->
        <div class="item item-divider item-assertive listPot-margin2">
            Hasil Bumi Pertanian
        </div>
        
        <a class="item item-icon-left item-stable listPot-margin">
            <i class=" icon ion-ionic"></i>
            Jambu Biji
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    1.562 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    53 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,03 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Blimbing
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    373 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    13 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,03 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Jambu Air
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    132 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    1 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,01 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Kacang Panjang
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    5 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    2 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,4 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Mangga
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    14.877 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    298 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,02 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Nangka
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    52 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    1 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,02 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <!--PPPPPPPP-->
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Padi
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    7.416 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    48.434 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    6,53 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Tebu
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    227 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    17.498 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    77,08 Ton/Ha
                </span>
            </li>
        </ul>
        
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
