<template name="listPotTomat">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Tomat</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Solokuro
            <span class="item-note">
                28 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Glagah
            <span class="item-note">
                15 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Karanggeneng
            <span class="item-note">
                14 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Babat
            <span class="item-note">
                8 Ton/Tahun
            </span>
        </a>
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
