<template name="listKecKembangbahu">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Kecamatan Kembangbahu</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <div class="item item-divider item-dark">
            Luas Lahan
        </div>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics"></i>
            Luas Lahan Sawah
            <span class="item-note">
                3.234 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Non Sawah
            <span class="item-note">
                2.861 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Bukan Pertanian
            <span class="item-note">
                289 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Total Luas Lahan
            <span class="item-note">
                6.384 Ha
            </span>
        </a>
        
        <!--SEPARATEEEEEEE-->
        <div class="item item-divider item-assertive listPot-margin2">
            Hasil Bumi Pertanian
        </div>
        
        <a class="item item-icon-left item-stable listPot-margin">
            <i class=" icon ion-ionic"></i>
            Pepaya
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    6.785 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    282 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,04 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Kangkung
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    865 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    2.594 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    3 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Nangka
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    3.755 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    113 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,03 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Mangga
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    46.140 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    1154 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,03 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Tebu
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    612 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    67.858 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    110,88 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Blimbing
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    23 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    1 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,04 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Cabe Rawit
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    1 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    24 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    24 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Jambu Biji
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    605 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    26 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,04 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Kacang Panjang
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    1 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    4 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    4 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Kelapa
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    6 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    3 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,5 Ton/Ha
                </span>
            </li>
        </ul>
        
        <!--PPPPPPPP-->
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Padi
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    7.523 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    48.651 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    6,47 Ton/Ha
                </span>
            </li>
        </ul>
        
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
