<template name="listKecSugio">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Kecamatan Sugio</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <div class="item item-divider item-dark">
            Luas Lahan
        </div>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics"></i>
            Luas Lahan Sawah
            <span class="item-note">
                5.295 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Non Sawah
            <span class="item-note">
                3.485 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Bukan Pertanian
            <span class="item-note">
                663 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Total Luas Lahan
            <span class="item-note">
                9.443 Ha
            </span>
        </a>
        
        <!--SEPARATEEEEEEE-->
        <div class="item item-divider item-assertive listPot-margin2">
            Hasil Bumi Pertanian
        </div>
        
        <!--PPPPPPPP-->
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Padi
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    11.889 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    82.436 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    6,93 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable listPot-margin">
            <i class=" icon ion-ionic"></i>
            Nangka
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    41.100 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    1.348 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,03 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Blimbing
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    1.349 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    44 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,03 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Bawang Merah
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    6 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    40 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    6,67 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Kangkung
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    2 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    4 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    2 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Siwalan
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    4 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    1 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,25 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Cabe Rawit
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    1 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    24 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    24 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Jambu Air
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    1.060 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    10 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,01 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Jambu Biji
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    491 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    22 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,04 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Kelapa
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    40 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    15 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,38 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Mangga
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    26.453 Pohon
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    529 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,02 Ton/Pohon
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Tebu
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    33 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    2.361 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    71,55 Ton/Ha
                </span>
            </li>
        </ul>
        
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
