<template name="listPotJambuAir">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Jambu Air</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Paciran
            <span class="item-note">
                66 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Sekaran
            <span class="item-note">
                25 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Lamongan
            <span class="item-note">
                20 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Solokuro
            <span class="item-note">
                19 Ton/Tahun
            </span>
        </a>
        
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
