<template name="listKecSambeng">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Kecamatan Sambeng</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <div class="item item-divider item-dark">
            Luas Lahan
        </div>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics"></i>
            Luas Lahan Sawah
            <span class="item-note">
                3.409 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Non Sawah
            <span class="item-note">
                4.649 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Luas Lahan Bukan Pertanian
            <span class="item-note">
                6.398 Ha
            </span>
        </a>
        <a class="item item-icon-left">
            <i class="icon ion-ios-analytics-outline"></i>
            Total Luas Lahan
            <span class="item-note">
                14.456 Ha
            </span>
        </a>
        
        <div class="item item-divider item-assertive listPot-margin2">
            Hasil Bumi Pertanian
        </div>
        
        <a class="item item-icon-left item-stable listPot-margin">
            <i class=" icon ion-ionic"></i>
            Kelapa
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    64 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    24 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    0,34 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Tebu
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    757 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    53.774 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    71,04 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Cabe Rawit
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    5 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    16 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    3,2 Ton/Ha
                </span>
            </li>
        </ul>
        
        <a class="item item-icon-left item-stable">
            <i class=" icon ion-ionic"></i>
            Padi
        </a>
        <ul class="list">
            <li class="item">
                Luas Area Tanam
                <span class="item-note">
                    5.184 Ha
                </span>
            </li>
            <li class="item">
                Produksi Pertahun
                <span class="item-note">
                    33.028 Ton
                </span>
            </li>
            <li class="item">
                Rata-Rata Produksi
                <span class="item-note">
                    6,37 Ton/Ha
                </span>
            </li>
        </ul>
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
