<template name="listPotSemangka">
  {{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="cariPotensi"}}
  {{/contentFor}}
  {{#contentFor "headerTitle"}}
    <h1 class="title">Semangka</h1>
  {{/contentFor}}

  {{#ionView}}

    {{#ionContent}}
    {{#ionList}}
    
    {{#ionItem}}
    
    <div class="list">
        <a class="item item-icon-left" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Sekaran
            <span class="item-note">
                5.530 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Modo
            <span class="item-note">
                2.900 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Pucuk
            <span class="item-note">
                2.660 Ton/Tahun
            </span>
        </a>
        <a class="item item-icon-left listPot-margin" href="#">
            <i class="icon ion-social-buffer"></i>
            Kecamatan Ngimbang
            <span class="item-note">
                1.304 Ton/Tahun
            </span>
        </a>
    </div>
    {{/ionItem}}
        
    {{/ionList}}
    {{/ionContent}}
    
  {{/ionView}}

</template>
